body{
    background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../image/32.png"); 
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}
.login-box{
    text-align: center;
    transform: translateY(40%);
}
.login-box > h2{
    color: #f1f1f1;
    font-weight: 600;
    font-size: 2rem;
}
.login-box .message_display{ position: relative; margin: 0 auto; width: 50%; line-height: 10px;}

.login-box form{
    padding-top: 50px;
}
.login-box i{
    position: absolute;
    line-height: 20px;
    padding: 10px;
    color: #f1f1f1;
}
.login-box input{
    width: 50%;
    outline: none;
    height: 40px;
    padding: 10px 30px;
    font-weight: 100;
    color: #f1f1f1;
    border: 1px solid #f1f1f1;
    transition: .6s ease;
    -webkit-transition: .6s ease;
    background-color: transparent;
}
.login-box input:focus{border: 3px solid green;}
.login-box input::placeholder{
    color: #f1f1f1;
    font-weight: 500px;
}
button{
    margin-top: 10px;
    width: 100px;   
}
.new_member{ 
    color: #f1f1f1;
}
.new_member a{
    text-decoration: none;
    font-weight: 500;
}
/* media query */
@media screen and (max-width: 991px) {
    .login-box input{width: 100%;}
    .login-box .message_display{ width: 100%;}
}